# ==========================================
# CONFIGURACIÓN DE LA BASE DE DATOS
# ==========================================
DB_HOST=localhost
DB_PORT=5433
DB_NAME=tu_nombre_de_base_de_datos
DB_USER=tu_usuario_local
DB_PASSWORD=tu_contrasena_aqui

# ==========================================
# CONFIGURACIÓN DE SEGURIDAD (JWT)
# ==========================================
# Reemplazar por una cadena larga y aleatoria en producción
JWT_SECRET=tu_palabra_secreta_super_segura_aqui
# Tiempo de expiración expresado en milisegundos (ej: 3600000 = 1 hora)
JWT_EXPIRATION_ACCESS=3600000

# ==========================================
# AWS S3 (Subida de certificados y códigos QR)
# ==========================================
AWS_ACCESS_KEY_ID=tu_aws_access_key_aqui
AWS_SECRET_ACCESS_KEY=tu_aws_secret_key_aqui
AWS_REGION=us-east-1
AWS_S3_BUCKET=tu_nombre_de_bucket_s3

# ==========================================
# SERVICIO DE CORREO (Resend)
# ==========================================
# Obtén tu API Key en el panel de Resend (empieza por re_)
RESEND_API_KEY=re_tu_api_key_aqui
# Correo por defecto que ofrece Resend para pruebas locales
EMAIL_FROM=onboarding@resend.dev